@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-grid{
    width: 1100px;
    margin: 0 auto;
}

body{
    height: 100%;
    background-image: url(./img/Background.png);
}

h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

section{
    display: flex;
    flex-direction: column;
}

.back{
    display: flex;
    justify-content: center;
}

.front{
    display: flex;
    justify-content: center;
}

img{
    border-radius: 50%;
    width: 170px;
    margin: 20px;
}