* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

body {
    background-image: url(img/Background.png);
    font-family: 'Nunito', sans-serif;
}

.voltar-tela-inicial{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 150px;
}

.voltar-tela-inicial h2{
    font-size: 18px;    
    margin-left: 10px;
}

.container-pricipal-login{
    display: flex;
    width: 50%;
    margin-left: 150px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 100px;
    height: 580px;
}

.container-pricipal-login h1{
    color: #163A5F;
    font-size: 30px;
    margin-bottom: 4px;
}

.container-pricipal-login p{
    color: #163A5F;
}

.forms-login{
    margin-top: 40px;
}

.forms-login p{
    color: #1C2143;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.email-senha{
    height: 40px;
    width: 550px;
    border: 1px solid #21ABA5;
    border-radius: 10px;
    display: flex;
    padding:0 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.forms-email-senha{
    border: none;
    width: 100%;
    background: none;
    outline: none;
    color: #1C2143;
}

.email-senha input::placeholder{
    color: rgb(174, 174, 174);
    font-family: 'Nunito', sans-serif;
}

.email-senha i{
    color: rgb(174, 174, 174);
    cursor: pointer;
}

.container2-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.manter-conectado{
    display: flex;
}

.manter-conectado p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(174, 174, 174);
    margin-left: 5px;
}

.esqueci-senha p{
    color: #21ABA5;
    cursor: pointer;
    text-decoration: underline;
    font-size: 15px;
}

.btn-login{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn{
    border: none;
    background-color: #21ABA5;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    height: 40px;
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #21aba4de;
}

.caixa-icons-login{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.caixa-icons-login img{
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.cadastro-login{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.cadastro-login p:first-child{
    color: #163A5F;
    font-size: 15px;
    font-weight: 600;
}

.cadastro-login p:last-child{
    color: #21ABA5;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}

.img-persona img{
    position: absolute;
    top: 0;
    right: 20;
    width: 667px;
}

/* cadatro */

.titulo-cadastro{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #fff;
    font-size: 17px;
}

.container-centralizado-cadastro{
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

.container-cadastro{
    background-color: #fff;
    width: 70%;
    border-radius: 20px;
    height: 500px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #ECECEC;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.caixa-passo1{
    display: flex;
    align-items: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px; 
    border-top-left-radius: 20px;
    background-color: #21ABA5; 
    padding: 25px; 
    width: 33%;
    justify-content: center;
}

.caixa-passo1 p{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.caixa-numero-um{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
}

.caixa-numero-um .numero1{
    color: #21ABA5;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

.caixa-passo2{
    align-items: center;
    display: flex;
    margin-right: 70px;
}

.caixa-passo2 p{
    color: #21ABA5;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.caixa-numero-dois{
    width: 30px;
    height: 30px;
    background-color: #21ABA5;
    border-radius: 100px;
    display: flex;
    align-items: center;
}

.caixa-numero-dois .numero2{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.caixa-texto-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #163A5F;
    margin-top: 20px;
}

.caixa-texto-cadastro p{
    margin-top: 10px;
    width: 400px;
    text-align: center;
    font-size: 15px;
}

.container-forms-cadastro{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 0 100px;
}

.caixa1-forms-cadastro p{
    font-weight: 700;
    color: #163A5F;
    font-size: 16px;
    margin-bottom: 4px;
}

.barra-forms-cadastro{
    height: 40px;
    width: 380px;
    border: 1px solid #21ABA5;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 0 10px;
    margin-bottom: 15px;
}

.input-cadastro{
    border: none;
    background: none;
    outline: none;
    color: #163A5F;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

.barra-forms-cadastro input::placeholder{
    color: rgb(174, 174, 174);
    font-family: 'Nunito', sans-serif;
}

.container-prox-etapa{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 30px;
}

.voltar-tela-inicial2{
    display: flex;
    align-items: center;
}

.voltar-tela-inicial2 p{
    margin-left: 10px;
}

.btn-prox-etapa{
    background-color: #21ABA5;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;
}

.btn-prox-etapa:hover{
    background-color: #21aba4e4;
}
